[Unit]
Description=sipdetail9001

[Service]
User=gopast
Group=gopast
Type=simple
ExecStart=/usr/local/bin/sipdetail9001

[Install]
WantedBy=multi-user.target
