[Unit]
Description=sipregistration9002

[Service]
User=gopast
Group=gopast
Type=simple
ExecStart=/usr/local/bin/sipregistration9002

[Install]
WantedBy=multi-user.target
