[Unit]
Description=user_sip_post_9003

[Service]
User=gopast
Group=gopast
Type=simple
ExecStart=/usr/local/bin/user_sip_post_9003

[Install]
WantedBy=multi-user.target
