[Unit]
Description=user_sip_registration_9002

[Service]
User=gopast
Group=gopast
Type=simple
ExecStart=/usr/local/bin/user_sip_registration_9002

[Install]
WantedBy=multi-user.target
