[Unit]
Description=siptrunkdetail9001

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/siptrunkdetail9001

[Install]
WantedBy=multi-user.target
